.homeaboutus-container {
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    padding-top: 20px;
    background-color: #ffffff;
    position: absolute;
    top: 60px;
}
.aboutus-container1{
    width: 83rem;
    height: 34rem;
    display: inline-block;
    padding: 2.5rem;
}
.aboutus-container1 h1{
    font-size: 8rem;
    font-weight: 700;
    color: #AD1519;
    position: absolute;
    top : 7rem;
    left: 4rem;

}
.aboutus-container1-content{
    width: 33rem;
    height: 28rem;
    background-color: #AD1519;
    background-size: cover;
    border-radius: 12px;
    margin-left: 43rem;
}
.aboutus-container1-content p{
    font-size: 2rem;
    color: #ffffff;
    padding: 2.5rem;
    padding-top: 4.5rem;

}
.aboutus-container1-content button {
    font-size: 1.3rem;
    font-weight: 400;
}


.aboutus-container1-button{
    width: 10rem;
    height: 3rem;
    background-color: #ffffff;
    color: #AD1519;
    border: none;
    border-radius: 12px;
    
    cursor: pointer;
    margin-top: 3rem;
    margin-left: 2.5rem;
}
.aboutus-container1-button1{
    width: 10rem;
    height: 3rem;
    background-color: #ffffff;
    color: #AD1519;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    
    margin-left: 6.5rem;
}
.aboutus-container{
    width: 43rem;
    height: 50rem;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    display: block;
    border-radius: 30px;
    margin-left: 20rem;
    align-items: center;
    
    margin-bottom: 2rem;
}
.aboutus-container h1{
    font-size: 3rem;
    font-weight: 700;
    color: #AD1519;
    padding: 2.5rem;
    padding-top: 4.5rem;
}
.aboutus-container p{
    font-size: 1.5rem;
    color: #000000;
    text-align: justify;
    margin: 1rem 0;
}
