

.home-container {
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    padding-top: 20px;
    background-color: #ffffff;
    position: absolute;
    top: 60px;

}

.container {
    width: 83rem;
    height: 34rem;
    /*background-image: url('../utils/image.png'); */
    background-color: #AD1519;
    background-size: cover;
    background-position: center;
    display: flex;
    border-radius: 30px;
    padding: 2.5rem;
    align-items: center;
    padding-left: 6rem;
    margin-bottom: 2rem;
}

.content-container {
    width: 28rem;
    height: 28rem;
    background-color: white;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
}

.content-container h2 {
    font-size: 0.8rem;

    padding: 2.5rem;
    color: #FABD00;
    
}
.content-container h1 {
    font-size: 3rem;
    
    padding-left: 1rem;
}

.content-container button {
    width: 7rem;
    height: 3rem;
    background-color: #FABD00;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 0.8rem;
    
    margin-top: 3rem;
    margin-left: 18rem;
    cursor: pointer;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container h1 {
    
    margin-bottom: 2.5rem;
    margin-top: 1rem;
}

.podcast-content {
    width: 28rem;
    height: 28rem;
    background-color: white;
    background-size: cover;
    border-radius: 12px;
    margin-left: 43rem;
}

.podcast-content h1 {
    font-size: 0.8rem;
    
    padding: 2.5rem;
    color: #FABD00;
}

.podcast-content p {
    font-size: 2rem;
    
    padding-left: 1rem;
    margin-right: 5rem;
}

.podcast-content button {
    width: 7rem;
    height: 3rem;
    background-color: #FABD00;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 0.8rem;
    margin-top: 2rem;
    margin-left: 18rem;
    cursor: pointer;
}

.imagecontactUs-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 7rem;
}
.contactUs-content {
    width: 28rem;
    height: 28rem;
    background-color: white;
    background-size: cover;
    border-radius: 12px;
    
    
}
.contactUs-content button {
    width: 7rem;
    height: 3rem;
    background-color: #FABD00;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 0.8rem;
    
    margin-top: 2rem;
    margin-left: 18rem;
    cursor: pointer;
}

.imagecontactUs-container {
    display: flex;
    
}
.contactUs-content p {
    font-size: 1.4rem;
    
    padding-left: 2rem;
    margin-right: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.contactUs-content a {
    font-size: 1.4rem;
    padding-left: 2rem;
    margin-right: 5rem;
    color: #FABD00;
    text-decoration: none;
}


